@import "bootstrap/scss/bootstrap";

body {
  padding: 50px;
  @include media-breakpoint-up(md){
    padding: 150px;
  }
}

nav a {
  float: right;
}

article {
  font-family: 'Permanent Marker';
  font-size: 24px;

  @include media-breakpoint-up(md){
    font-size: 48px;
  }

  .larskleiner {
    width: 275px;

    @include media-breakpoint-up(md){
      width: auto;
    }
  }
}

img {
  width: 55px;
}